body {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: url(background.jpg);
}
.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
}


canvas {
  box-shadow: 10px 10px 10px rgb(94, 2, 254);
  border-radius: 10px;
}
#copos,#pessoas,#mesa,#celulares,#cesta{
    text-align: center;
    height: 70px;
    width: 230px;
    border-radius: 50%;
}